* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Home page

.home__header {
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event__list,
.badges__list {
  display: flex;
  flex-wrap: wrap;
  > h2 {
    width: 100%;
    text-align: center;
  }
}

.event__card {
  width: 45%;
  margin: 0.5em;
  text-decoration: none;
  color: inherit;
  @media screen and (min-width: 900px) {
    width: 31%;
  }
  img {
    width: 100%;
  }
}

// event single page

.event__single__page header,
.experience__intro__page header,
.experience__stop__page header {
  position: relative;
  > .experience__title {
    margin-left: 1em;
    position: absolute;
    bottom: 0.5em;
    color: white;
    > h5,
    h1 {
      margin: 0 0 0.5em 1rem;
    }
    > h1 {
      margin-bottom: 1.5em;
    }
  }
  img {
    width: 100%;
    max-height: 16em;
    margin-bottom: 1em;
    @media screen and (min-width: 430px) {
      max-height: 31em;
    }
  }
}

.event__single__page {
  padding-bottom: 3.75em;
  position: relative;
  h4 {
    text-align: left;
    margin: 1em;
  }
  .tags__section {
    text-align: center;
    > span {
      margin-right: 1em;
    }
  }

  > p,
  h3 {
    text-align: left;
    margin: 1em;
  }
  .atendees__section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    @media screen and (min-width: 430px) {
      align-items: flex-start;
      > div {
        max-width: 4.75em;
      }
    }
    > div {
      width: 20%;
      img {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
  .map__section {
    ul {
      padding: 0;
      margin-left: 1em;
    }
    li {
      list-style-type: none;
      img {
        margin-right: 1em;
      }
    }
  }
  .button {
    width: 100%;
    background-color: rgb(38, 126, 38);
    padding: 1em;
    border: 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125em;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
  }
}

// map and pin styling
.simple__map {
  height: 15.62em;
  width: 90%;
  margin: 0 auto 2em;
}

.map__pin {
  width: 1.25em;
}
// payment modal

.paymentModalOpen {
  width: 90%;
  background-color: lightblue;
  position: fixed;
  height: 50%;
  top: 25%;
  left: 5%;
  margin: 0 auto;
  padding: 1em;
  > button {
    position: absolute;
    right: 1em;
  }
  > div {
    height: 100%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > p {
      margin: auto 0;
      text-align: center;
    }
    > div {
      margin-bottom: auto;
    }
  }
}

// payment loading icon

@keyframes ldio-hatmn2q2jgf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-hatmn2q2jgf div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-hatmn2q2jgf linear 1s infinite;
  background: #1d3f72;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}
.ldio-hatmn2q2jgf div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #1d3f72;
}
.loadingio-spinner-spinner-7m4bdiq50c4 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
  margin: 0 auto auto;
}
.ldio-hatmn2q2jgf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-hatmn2q2jgf div {
  box-sizing: content-box;
}

// Create event form
.create-event__form {
  max-width: 30em;
  width: 100%;
  padding: 1em;
  input,
  textarea {
    width: 100%;
    margin-bottom: 0.5em;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 0.5em;
  }
}
