@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,700&display=swap');

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: 'Catamaran', sans-serif;
}

p,
a,
button {
  font-weight: 300;
  color: #6a7178;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #101213;
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// Home page

.home__header {
  margin-top: 59px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url('https://source.unsplash.com/1600x900/?party');
  background-blend-mode: multiply;
  h1,
  p {
    color: white;
  }
  h1 {
    margin-bottom: 0;
    text-transform: uppercase;
  }
}
.home__page {
  margin: 75px auto 0;
  h2 {
    padding-left: 1em;
    margin-bottom: 0;
  }
}
.event__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1em;
}

.event__card {
  min-height: 16.25;
  width: 90%;
  margin: 0.5em auto 1em;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 900px) {
    width: 31%;
    margin: 0.5em 0.5em 1em;
    img {
      height: 15em;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.5em;
    }
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > div {
        display: flex;
        align-items: center;
      }
    }
  }
  img {
    width: 100%;
    height: 16em;
    object-position: center;
    overflow: hidden;
    object-fit: cover;
    border-radius: 12px;
  }
  span {
    color: #f76707;
    font-weight: 700;
  }
  p,
  span {
    font-size: 22px;
  }
  p {
    margin: auto 0 0;
  }
  h3 {
    margin: 0.75em 0 0;
  }
}

.see__more__button {
  color: #f76707;
  margin: 1em 0;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}

// map and pin styling
.simple__map {
  height: 15.62em;
  width: 100%;
  margin: 0 auto 2em;
  border-radius: 12px;
  overflow: hidden;
}

.map__pin {
  width: 1.25em;
}
