// event single page

.event__single__page {
  margin: 75px auto 0;
  padding: 0 1.5em 6.25em;
  max-width: 53.25em;
  font-family: 'Catamaran';
  header {
    img {
      border-radius: 12px;
      max-height: 16em;
      width: 100%;

      display: block;
      @media screen and (min-width: 430px) {
        max-height: 31em;
        object-fit: cover;
      }
    }
    h1 {
      margin: 0.5em 0;
      text-align: left;
      width: 90%;
    }
  }
  h3,
  p {
    text-align: left;
    margin: 0.5em 0 0;
  }
  .tags__section {
    width: 90%;
    margin: 0 0 2em;
    > span {
      margin-right: 1em;
      color: #d6336c;
      font-weight: 700;
      padding: 0.4em 1em;
      border-radius: 45px;
      background-color: #fbebf0;
    }
  }

  .atendees__section {
    position: relative;
    display: flex;
    padding: 1em 0 1.5em;
    @media screen and (min-width: 430px) {
      align-items: flex-start;
    }
    img {
      border: 3px solid white;
    }
    img,
    .img__attendees {
      position: relative;
      text-align: center;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      overflow: hidden;
    }
    .img__attendees {
      background-color: #fef0e6;
      color: #f76707;
      font-weight: 700;
      padding-top: calc((3em / 2) - (1em / 2));
      padding-bottom: calc((3em / 2) - (1em / 2));
      line-height: 1em;
    }
  }
  .event__location {
    color: #f76707;
    font-weight: bold;

    margin: 2em 0;
    > img {
      margin-right: 0.5em;
    }
  }
  .map__section {
    width: 100%;

    ul {
      padding: 0;
      li {
        list-style-type: none;
        margin-bottom: 2em;
        img {
          margin-right: 1em;
        }
        .location__list {
          border: 2px solid #ffdcc5;
          padding: 2px 12px;
          margin-right: 0.5em;
          border-radius: 12px;
          color: #f76707;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.5;
        }
      }
    }
  }
  .button {
    background-color: #f76707;
    padding: 1em;
    border-radius: 12px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    position: fixed;
    bottom: 1.5em;
    box-shadow: 0 4px 10px 0 rgba(247, 103, 7, 0.5);
    @media screen and (min-width: 900px) {
      width: 805px;
    }
    @media screen and (max-width: 900px) {
      right: 1.25em;
      left: 1.25em;
    }
    span {
      position: absolute;
      right: 1em;
    }
  }
  .center {
    text-align: center;
  }
}
// payment modal

.paymentModalOpen {
  z-index: 5;
  width: 90%;
  background-color: white;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: fixed;
  height: 50%;
  top: 25%;
  left: 5%;
  margin: 0 auto;
  padding: 1em;
  overflow: auto;
  h3 {
    margin-bottom: 1em;
    text-align: center;
    margin: auto 0;
  }
  > button {
    position: absolute;
    right: 1em;
    font-size: 20px;
    color: #adb5bd;
  }
  > div {
    height: 100%;
    padding: 1.35em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
      margin-bottom: auto;
    }
  }
  .payment__method__button {
    padding: 0.75em;
    border-radius: 12px;
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 4px 10px 0 rgba(247, 103, 7, 0.5);
    justify-self: end;
    width: 100%;
    border: 0;
    text-align: center;
    margin: 0 auto 1em;
    background-color: #f76707;
    color: white;
  }
  .secondary {
    border: 1px dashed #ced4da;
    box-shadow: 0 4px 10px 0 #ced4da;
    color: #f76707;
    background-color: white;
  }
}

// payment loading icon

@keyframes ldio-hatmn2q2jgf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-hatmn2q2jgf div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-hatmn2q2jgf linear 1s infinite;
  background: #1d3f72;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}
.ldio-hatmn2q2jgf div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #1d3f72;
}
.ldio-hatmn2q2jgf div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #1d3f72;
}
.loadingio-spinner-spinner-7m4bdiq50c4 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
  margin: 0 auto auto;
}
.ldio-hatmn2q2jgf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-hatmn2q2jgf div {
  box-sizing: content-box;
}

// Create event form
.create-event__form {
  margin: 59px auto 0;
  max-width: 30em;
  width: 100%;
  padding: 1em;
  input,
  textarea {
    width: 100%;
    margin-bottom: 0.5em;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 0.5em;
  }
}

// events list page
.event__list__page {
  font-family: Catamaran;
  margin: 75px auto 0;
  h1 {
    margin-left: 1em;
  }
}
