.payment__list__page {
  padding: 1em;
  height: 300px;
  display: flex;
  flex-direction: column;
  a {
    justify-self: end;
    width: 90%;
    max-width: 28.12em;
    width: 100%;
    background-color: rgb(38, 126, 38);
    padding: 1em;
    border: 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125em;
    text-align: center;
    margin: 1em auto;
  }
}

.StripeElement {
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 0.25em 0 1em -0.5em hsla(230, 20%, 80%, 1);
}

.payment__method--card {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 0.25em 0 1em -0.5em hsla(230, 20%, 80%, 1);
  img {
    width: 2.5em;
    margin-right: 1em;
  }
  span {
    &:last-child {
      margin-left: auto;
    }
  }
}
